<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Service</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
 <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">A1-Store</a>
      </div>
      <ul>
        <li><a href="/menu">Products</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/service">Service</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% else %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav><br><br><br><br><br><br>
<h2 style="background-color:#FFFF00" ;><center>Terms And Conditions:</center></h2><br>
<p>
Welcome to A1 E-Store

These terms and conditions outline the rules and regulations for the use of Company Name's Website, located at A1.com.

By accessing this website we assume you accept these terms and conditions. Do not continue to use A1.com if you do not agree to take all of the terms and conditions stated on this page.

The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
 <h3>License</h3>
Unless otherwise stated, A1 and its licensors own the intellectual property rights for all material on A1.com. All intellectual property rights are reserved. You may access this from Website Name for your own personal use subjected to restrictions set in these terms and conditions.

You must not:

Republish material from Website Name
Sell, rent or sub-license material from Website Name
Reproduce, duplicate or copy material from Website Name
Redistribute content from A1 E-Store
This Agreement shall begin on the date hereof.

Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Company Name does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Company Name,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Company Name shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.

Company Name reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.

You warrant and represent that:

You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
 <p>
<h4>2. PRIVACY</h4>
By using the Services, you acknowledge that you have reviewed and understand our Privacy Policy, and consent to the practices described in that policy.
</p><br>
 <p>
<h4>3. REGISTRATION AND SECURITY</h4>
 You may register for certain activities provided through the Services. When you register or provide any other information in connection with the Services, you agree to provide accurate, current, and complete information and to promptly update this information to maintain its accuracy. You are responsible for maintaining the confidentiality of any password and username that you are given or select, and you are responsible for all activities that occur under your password or account. RBI has the right to suspend or terminate any account or other registration if it suspects that such information is inaccurate or incomplete. You agree to immediately notify RBI of any unauthorized use of your password or username or any other breach of security.
</p>
</body>
</html>